.navbar {
    display: flex;
    background-color: #000;
    padding: 1.25rem 0.6250rem;
}

.navbar a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #999;
}