* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

main {
    min-height: 70vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}